
.night {
  position: relative;
  width: 100%;
  height: 100%;
}

.shooting_star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2px;
  background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px #699bff);
  transform-origin: left center;
  -webkit-animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite, delay-animation 6000ms linear infinite;
          animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite, delay-animation 6000ms linear infinite;
}
.shooting_star::before, .shooting_star::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
  transform: translateX(50%) rotate(45deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
          animation: shining 3000ms ease-in-out infinite;
}
.shooting_star::after {
  transform: translateX(50%) rotate(-45deg);
}
.shooting_star:nth-child(1) {
  top: calc(71% - 300px);
  left: calc(69% - 300px);
  -webkit-animation-delay: 127ms;
          animation-delay: 127ms;
}
.shooting_star:nth-child(1)::before, .shooting_star:nth-child(1)::after {
  -webkit-animation-delay: 127ms;
          animation-delay: 127ms;
}
.shooting_star:nth-child(2) {
  top: calc(70% - 300px);
  left: calc(26% - 300px);
  -webkit-animation-delay: 6993ms;
          animation-delay: 6993ms;
}
.shooting_star:nth-child(2)::before, .shooting_star:nth-child(2)::after {
  -webkit-animation-delay: 6993ms;
          animation-delay: 6993ms;
}
.shooting_star:nth-child(3) {
  top: calc(48% - 300px);
  left: calc(5% - 300px);
  -webkit-animation-delay: 6417ms;
          animation-delay: 6417ms;
}
.shooting_star:nth-child(3)::before, .shooting_star:nth-child(3)::after {
  -webkit-animation-delay: 6417ms;
          animation-delay: 6417ms;
}
.shooting_star:nth-child(4) {
  top: calc(57% - 300px);
  left: calc(95% - 300px);
  -webkit-animation-delay: 4382ms;
          animation-delay: 4382ms;
}
.shooting_star:nth-child(4)::before, .shooting_star:nth-child(4)::after {
  -webkit-animation-delay: 4382ms;
          animation-delay: 4382ms;
}
.shooting_star:nth-child(5) {
  top: calc(86% - 300px);
  left: calc(21% - 300px);
  -webkit-animation-delay: 974ms;
          animation-delay: 974ms;
}
.shooting_star:nth-child(5)::before, .shooting_star:nth-child(5)::after {
  -webkit-animation-delay: 974ms;
          animation-delay: 974ms;
}
.shooting_star:nth-child(6) {
  top: calc(72% - 300px);
  left: calc(24% - 300px);
  -webkit-animation-delay: 1622ms;
          animation-delay: 1622ms;
}
.shooting_star:nth-child(6)::before, .shooting_star:nth-child(6)::after {
  -webkit-animation-delay: 1622ms;
          animation-delay: 1622ms;
}
.shooting_star:nth-child(7) {
  top: calc(21% - 300px);
  left: calc(53% - 300px);
  -webkit-animation-delay: 3614ms;
          animation-delay: 3614ms;
}
.shooting_star:nth-child(7)::before, .shooting_star:nth-child(7)::after {
  -webkit-animation-delay: 3614ms;
          animation-delay: 3614ms;
}
.shooting_star:nth-child(8) {
  top: calc(11% - 300px);
  left: calc(16% - 300px);
  -webkit-animation-delay: 343ms;
          animation-delay: 343ms;
}
.shooting_star:nth-child(8)::before, .shooting_star:nth-child(8)::after {
  -webkit-animation-delay: 343ms;
          animation-delay: 343ms;
}
.shooting_star:nth-child(9) {
  top: calc(38% - 300px);
  left: calc(25% - 300px);
  -webkit-animation-delay: 1773ms;
          animation-delay: 1773ms;
}
.shooting_star:nth-child(9)::before, .shooting_star:nth-child(9)::after {
  -webkit-animation-delay: 1773ms;
          animation-delay: 1773ms;
}
.shooting_star:nth-child(10) {
  top: calc(12% - 300px);
  left: calc(69% - 300px);
  -webkit-animation-delay: 8144ms;
          animation-delay: 8144ms;
}
.shooting_star:nth-child(10)::before, .shooting_star:nth-child(10)::after {
  -webkit-animation-delay: 8144ms;
          animation-delay: 8144ms;
}
.shooting_star:nth-child(11) {
  top: calc(44% - 300px);
  left: calc(11% - 300px);
  -webkit-animation-delay: 6491ms;
          animation-delay: 6491ms;
}
.shooting_star:nth-child(11)::before, .shooting_star:nth-child(11)::after {
  -webkit-animation-delay: 6491ms;
          animation-delay: 6491ms;
}
.shooting_star:nth-child(12) {
  top: calc(97% - 300px);
  left: calc(21% - 300px);
  -webkit-animation-delay: 2788ms;
          animation-delay: 2788ms;
}
.shooting_star:nth-child(12)::before, .shooting_star:nth-child(12)::after {
  -webkit-animation-delay: 2788ms;
          animation-delay: 2788ms;
}
.shooting_star:nth-child(13) {
  top: calc(13% - 300px);
  left: calc(7% - 300px);
  -webkit-animation-delay: 4605ms;
          animation-delay: 4605ms;
}
.shooting_star:nth-child(13)::before, .shooting_star:nth-child(13)::after {
  -webkit-animation-delay: 4605ms;
          animation-delay: 4605ms;
}
.shooting_star:nth-child(14) {
  top: calc(74% - 300px);
  left: calc(46% - 300px);
  -webkit-animation-delay: 1367ms;
          animation-delay: 1367ms;
}
.shooting_star:nth-child(14)::before, .shooting_star:nth-child(14)::after {
  -webkit-animation-delay: 1367ms;
          animation-delay: 1367ms;
}
.shooting_star:nth-child(15) {
  top: calc(73% - 300px);
  left: calc(22% - 300px);
  -webkit-animation-delay: 1823ms;
          animation-delay: 1823ms;
}
.shooting_star:nth-child(15)::before, .shooting_star:nth-child(15)::after {
  -webkit-animation-delay: 1823ms;
          animation-delay: 1823ms;
}
.shooting_star:nth-child(16) {
  top: calc(96% - 300px);
  left: calc(86% - 300px);
  -webkit-animation-delay: 535ms;
          animation-delay: 535ms;
}
.shooting_star:nth-child(16)::before, .shooting_star:nth-child(16)::after {
  -webkit-animation-delay: 535ms;
          animation-delay: 535ms;
}
.shooting_star:nth-child(17) {
  top: calc(61% - 300px);
  left: calc(66% - 300px);
  -webkit-animation-delay: 6098ms;
          animation-delay: 6098ms;
}
.shooting_star:nth-child(17)::before, .shooting_star:nth-child(17)::after {
  -webkit-animation-delay: 6098ms;
          animation-delay: 6098ms;
}
.shooting_star:nth-child(18) {
  top: calc(41% - 300px);
  left: calc(11% - 300px);
  -webkit-animation-delay: 3841ms;
          animation-delay: 3841ms;
}
.shooting_star:nth-child(18)::before, .shooting_star:nth-child(18)::after {
  -webkit-animation-delay: 3841ms;
          animation-delay: 3841ms;
}
.shooting_star:nth-child(19) {
  top: calc(68% - 300px);
  left: calc(58% - 300px);
  -webkit-animation-delay: 1687ms;
          animation-delay: 1687ms;
}
.shooting_star:nth-child(19)::before, .shooting_star:nth-child(19)::after {
  -webkit-animation-delay: 1687ms;
          animation-delay: 1687ms;
}
.shooting_star:nth-child(20) {
  top: calc(56% - 300px);
  left: calc(46% - 300px);
  -webkit-animation-delay: 2868ms;
          animation-delay: 2868ms;
}
.shooting_star:nth-child(20)::before, .shooting_star:nth-child(20)::after {
  -webkit-animation-delay: 2868ms;
          animation-delay: 2868ms;
}

@-webkit-keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shooting {
  0% {
    transform: translate(0, 0) rotate(45deg);
  }
  100% {
    transform: translate(300px, 300px) rotate(45deg);
  }
}
@keyframes shooting {
  0% {
    transform: translate(0, 0) rotate(45deg);
  }
  100% {
    transform: translate(300px, 300px) rotate(45deg);
  }
}
@-webkit-keyframes delay-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes delay-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
